:root {
  --DarkBlue: #0a1464;
  --MidBlue: #1d2983;
  --LightBlue: #a9bbe4;
  --HotPink: #e928bd;
  --Peach: #ef88aa;
  --OpacquePeach: #ef88aa80;
  --LightPurple: #f6e6ff;
  --Sun-Full: #f76414;
  --Sun-Mid: #fcffad;
  --Sun-Lite: #edc655;
  --Pokemon-Red: #ed5564;
  --OpaquePokemon-Red: #ed55644f;
  --HeaderWeight: 700;
}

.page-container {
  margin-top: 225px;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}

header {
  color: var(--HotPink);
  background: var(--DarkBlue);
  background: linear-gradient(
    180deg,
    var(--Sun-Lite) 0%,
    var(--Sun-Mid) 50%,
    white 100%
  );
}

#HeaderLogoImage {
  height: 95px;
  margin: 15px 5px 5px 15px;
  padding: 0;
  justify-content: center;
}

.formFilterPokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

select {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 5px;
  text-transform: capitalize;
}

.form-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 200px;
}

.pokemon-list {
  align-items: center;
}

.pokemonListButton {
  width: 250px;
  background-color: var(--OpaquePokemon-Red);
  text-transform: capitalize;
}

.listItem {
  list-style-type: none;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.modal-image {
  float: left;
  margin: auto auto auto 50px;
  scale: 150%;
}

.modal h1 {
  text-transform: capitalize;
}

.modal p {
  text-transform: capitalize;
}

button {
  text-transform: capitalize;
}

.nav-item {
  padding-left: 25px;
  margin-left: 35px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* For smaller displays */
@media all and (max-width: 430px) {
  .modal-image {
    margin: auto auto auto 10px;
    /* scale: 100%; */
  }

  .modal-details {
    margin: 10px;
  }
}
